<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHx3iL6vF7qhVWXbGNhPw0MaQ0tPb67GE</string>
	<key>GCM_SENDER_ID</key>
	<string>241235910110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.talhadayanik.Appetitive</string>
	<key>PROJECT_ID</key>
	<string>appetitive-d8db4</string>
	<key>STORAGE_BUCKET</key>
	<string>appetitive-d8db4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241235910110:ios:ab5b4936715b724ebb914f</string>
</dict>
</plist>